body {
  background-color: oldlace;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: larger;
}

.header {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
  width: max-content;
}

.links {
  margin: 0 auto;
  text-align: center;
  width: max-content;
  padding: 10px;
}

.link {
  margin: 0 auto;
  list-style: none;
  width: max-content;
}
